# General
.DS_Store
Thumbs.db
*.log
*.sqlite3

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/
.npm/
.eslintcache
frontend/.gitignore

# IDEs
.vscode/
.idea/
